<!DOCTYPE html>
<html>
  <head>
    <title>RtoyApp</title>
    <%= csrf_meta_tags %>

<% if false %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
